{% load static %}

<!doctype html>

<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="Tom Panton">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    {% block before_content %}{% endblock %}
    <div id="Header">
        <nav>
            <ul>
                <li><a href="/login">Log in</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/archive">Archive</a></li>
            </ul>
        </nav>
    </div>
    <div id="Content">
        {% block content %}{% endblock %}
    </div>
    {% block after_content %}{% endblock %}
</body>
</html>
