{% load static %}

<!doctype html>

<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <title>Log in</title>
    <meta name="author" content="Tom Panton">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div id="Content">
        <div class="box">
            <h1 class="textCentre">Log in</h1>
            <form method="POST" class="form centre">
                {% csrf_token %}
                <div class="field">
                    {{form.username.label_tag}}
                    {{form.username}}
                </div>
                <div class="field">
                    {{form.password.label_tag}}
                    {{form.password}}
                </div>
                <div class="field">
                    <button type="submit">Log in</button>
                </div>
            </form>
            {% if form.errors %}
                <p class="textCentre error">Username / password pair does not match any account</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
