{% extends 'blog/blog_page.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
    <div class="box">
        <h1>{{post.title}}</h1>
        <p class="date">{{post.date|date:'D jS M, Y'}}</p>
    </div>
    <div class="box">
        <div class="postContent">
            <p>{{post.content|linebreaksbr}}</p>
        </div>
    </div>
    <div class="box">
        <h2>Comments ({{comments.count}})</h2>
        {% for comment in comments %}
            <div class="comment">
                <p class="date">{{comment.date|date:'d/m/y'}}</p>
                <p>{{comment.content|linebreaksbr}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
