body {
    font-family: sans-serif;
    background-color: #B8C4E2;
    padding: 0;
    margin: 0;
}

#Content {
    padding: 1em 15em 5em 15em;
}

#Title {
    background-color: #8BA1DE;
    border-bottom: 4px solid #708BD7;
    color: #F9F9F9;
    text-align: center;
    padding: 3em 0;
}

#Title h1 {
    font-size: 3em;
    margin: 0.1em 0;
}

#Title h2 {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0.1em 0;
}

#Header {
    width: 100%;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    background-color: #F9F9F9;
    border-bottom: 4px solid #9AABD6;
    color: #F9F9F9;
    padding: 1em 4em;
}

#Header ul {
    display: flex;
    padding: 0;
    margin: 0;
}

#Header li {
    list-style-type: none;
    margin: 0 2em;
}

#Header a {
    color: #8A8A8A;
    font-weight: lighter;
    text-decoration: none;
    transition: color 0.15s ease-out;
}

#Header a:hover {
    color: #000000;
}

#Header .navLeft {
    align-self: left;
}

#Header .navRight {
    align-self: right;
}

#PostPageControl {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 1.5em;
    font-size: 1.5em;
    color: #F9F9F9;
}

#PostPageControl a {
    color: inherit;
    text-decoration: none;
    transition: color 0.15s ease-out;
}

#PostPageControl p {
    margin: 0;
    text-align: center;
}

#PostPageControl a:hover {
    color: #708BD7;
}

#PrevPage {
    grid-column-start: 1;
    grid-column-end: 2;
}

#NextPage {
    grid-column-start: 3;
    grid-column-end: 4;
}

#PageNo {
    grid-column-start: 2;
    grid-column-end: 3;
    font-weight: lighter;
}

#ArchiveTable {
    margin: 2em 0;
}

#ArchiveTable th {
    text-align: left;
}

#ArchiveTable th, td {
    padding-right: 2em;
}

#CommentForm {
    margin: 1em 0;
}

#CommentForm textarea {
    width: 100%;
}

.form input, .form button, .form textarea {
    display: block;
    box-sizing: border-box;
}

.form.centre label {
    display: block;
    text-align: center;
    margin: 0.5em 0;
}

.form.centre input, .form.centre button, .form.centre textarea {
    margin: 0 auto;
}

.form input[type=text], .form input[type=password], .form textarea {
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 300;
    padding: 0.5em;
}

.form textarea {
    resize: vertical;
}

.form button {
    background-color: white;
    border: 1px solid #A6A6A6;
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    margin: 0.5em 0;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

.form button:hover {
    outline: 3px solid #C9D4F2;
}

.form .field {
    margin: 1em 0;
}

.box {
    background-color: #F9F9F9;
    /* border: 4px solid #5167A2; */
    box-sizing: border-box;
    padding: 1em 2em;
    margin: 1em 0;
}

.postPreview {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.postPreview:hover {
    outline: 3px solid #8BA1DE;
}

.postContent {
    margin: 2.5em 0;
}

.postContent p {
    margin: 0;
    font-size: 1.2em;
    font-weight: lighter;
}

.date {
    color: #555555;
}

.comment {
    /* border: 2px solid #9AABD6; */
    border: 2px solid #B8C4E2;
    box-sizing: border-box;
    padding: 0 1em;
    margin: 0.5em 0;
    font-weight: lighter;
}

.error {
    color: #AD3434
}

.textCentre {
    text-align: center;
}
