body {
    font-family: sans-serif;
    background-color: #759AAB;
    padding: 0;
    margin: 0;
}

#Content {
    padding: 1em 15em 5em 15em;
}

#Title {
    color: #F9F9F9;
    text-align: center;
    padding: 3em 0;
}

#Title h1 {
    font-size: 3em;
    margin: 0.1em 0;
}

#Title h2 {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0.1em 0;
}

#Header {
    width: 100%;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    background-color: #557A8B;
    border-bottom: 4px solid #466472;
    color: #F9F9F9;
    padding: 0.5em 5em;
}

.form input, .form button, .form textarea {
    display: block;
    box-sizing: border-box;
}

.form textarea {
    resize: vertical;
}

.postPreview {
    background-color: #EEF5FB;
    border: 4px solid #557A8B;
    box-sizing: border-box;
    padding: 1em 2em;
    margin: 1em 0;
    cursor: pointer;
}

.postSummary {
    margin: 2.5em 0;
}

.postSummary p {
    margin: 0;
    font-size: 1.2em;
    font-weight: lighter;
}

.date {
    color: #555555;
}
